{% extends "events_subnav.html" %}

{% block dojorequires %}
dojo.require("dijit.form.DateTextBox");
dojo.require("dijit.form.TextBox");
dojo.require("dijit.form.ValidationTextBox");
dojo.require("dijit.form.Textarea");
{% endblock %}

{% block main %}
<h1>{% block formtitle %}Add Event{% endblock %}</h1>
<div id="content">
    <form method="POST" action=".">
        <div id="registrationform">
	  <table class="form" valign="top">
            {{ form.as_table }}
	    </table>
            <div class="row">
                <span class="item submit"><input type="submit" value="{% block submitvalue %}register{% endblock %}" /></span>
            </div>
        </div>
    </form>
<br />
{% block aftereventform %}
{% endblock %}
</div>

{% endblock main %}
