{% extends "base.html" %}

{% block dojorequires %}
dojo.require("dijit.form.Form");
dojo.require("dijit.form.Button");
dojo.require("dijit.form.ValidationTextBox");
dojo.require("dojox.validate");
{% endblock %}

{% block belowgradient %}
  <h1>{% block formtitle %}Registration{% endblock %}</h1>
  <div id="content">
    {% if event.web_confirmation_message %}
    {{ event.web_confirmation_message|safe }}
    {% else %}
    Thank you for registering. When your registration is approved you'll get an email with further instructions.
    {% endif %}
    <br />
  </div>

{% endblock belowgradient %}
