{% extends "contacts/subnav.html" %}

{% block main %}
<h1>Delete {{ contact.first_name }} {{ contact.last_name }}</h1>
<div id="content">
    <form method="POST" action="{% url contacts-delete contact.id %}">
        <div id="confirmdeleteform">
            <p>Are you sure you want to delete {{ contact.first_name }} {{ contact.last_name }} ({{ contact.email }})?</p>
            <input type="submit" name="submit" value="Yes, delete the contact" />&nbsp;&nbsp;<input type="submit" name="submit" value="No, go back"/>
        </div>
    </form>
</div>
{% endblock main %}
