{% extends "contacts/subnav.html" %}

{% block main %}
<h1>Manage Tags</h1>
<div id="content">
    <form method="POST" action="{% url mytags-rename tagname %}">
        <div id="renametagform">
            {% for field in form %}
                <div class="row">
                    <span class="item label">{{ field.label_tag }}:</span>
                    <span class="item input">{{ field.errors }}{{ field }}</span>
                </div>
            {% endfor %}
            <div class="row">
                <span class="item submit"><input type="submit" value="Rename tag" /></span>
            </div>
        </div>
    </form>
</div>
{% endblock main %}
